<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">Schadeclaims</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image"></div>

  <ng-container *ngIf="(insuranceForms$ | async) as insuranceForms">
    <ion-list *ngIf="insuranceForms.length > 0; else noForms">
      <ion-item *ngFor="let form of insuranceForms" class="claim-item">
        <ion-label class="claim-label">
          <h2>{{ form.field.name }}</h2>
          <p>teelt: {{ form.field.crop }}</p>
          <p>schade: {{ form.damage_type }}</p>
        </ion-label>
        <ion-button (click)="navigateToTab2(form.id)" class="user-button">
          <ion-icon name="camera-outline" class="camera-icon"></ion-icon>

          Foto toevoegen
        </ion-button>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #noForms>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Geen schadeclaims voor deze gebruiker</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>
</ion-content>