ion-header {
  ion-toolbar {
    --background: #237d31; /* Groene achtergrond voor de toolbar */
    ion-title {
      color: black;
    }
  }
}

ion-item {
  --background: #8fdd95; /* Lichte groene achtergrond voor de lijstitems */
}

.claim-item {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Witte achtergrond voor de lijstitems */
  margin: 10px;
  border: 1px solid #237d31; /* Groene rand voor de lijstitems */
  border-radius: 8px;
}

.claim-label {
  flex: 1;
  color: black;
}

.claim-button {
  margin-left: 10px;
  --color: white; /* Witte tekstkleur voor de knop */
}
