<ion-header>
  <ion-toolbar>
    <ion-title>Gebruiker Beheer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="login-page background">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Inloggen</ion-card-title>
        <ion-card-subtitle>Vul uw inloggegevens in</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input [(ngModel)]="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Wachtwoord</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
        <ion-button
          expand="full"
          color="success"
          shape="round"
          (click)="login()"
          >Inloggen</ion-button
        >
        <div class="register-link">
          <p>Nog geen account? Registreer dan op de website!</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <p *ngIf="error" class="error">{{ error }}</p>
</ion-content>
