<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">Claims</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Background Image Overlay -->
  <div class="background-image"></div>

  <div *ngIf="!user; else loggedInTemplate">
    <!-- Login Form -->
    <ion-card>
      <p>Log in to view</p>
    </ion-card>
  </div>

  <ng-template #loggedInTemplate>
    <ion-list *ngIf="insuranceForms.length > 0">
      <ion-item *ngFor="let form of insuranceForms" class="user-item">
        <ion-label class="user-label">
          <div class="user-info">
            <ion-icon name="earth-outline" class="user-icon"></ion-icon> 
            <h2>{{ form.field.name }}</h2>
          </div>
          <p>{{ form.field.crop }}</p>
          <p> <span   class="schade">schade:</span> {{form.damage_type}}</p>
        </ion-label>
        <ion-button (click)="navigateToTab2(form.id)" class="user-button">
          <ion-icon  name="camera-outline" class="camera-icon"></ion-icon>
          Open Camera
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-card *ngIf="insuranceForms.length === 0">
      <ion-card-header>
        <ion-card-title>Je hebt nog geen verzekeringsformulieren.</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>
</ion-content>
