ion-content {
  --background: #8fdd95;
}

ion-card {
  --background: rgb(22, 163, 74);;
  color: #2e7d32;
}

ion-card-title {
  font-size: 1.5rem;
  color: white; /* Darker green for card titles */
}

.photo-container {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

ion-img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

ion-label {
  --background: var(--ion-color-success)
  color: #388e3c; /* Green color for labels */
}

ion-list ion-item {
  margin: 10px !important;
  --background: rgb(22, 101, 52) !important;
  border: none !important;
  box-shadow: none !important;
}


ion-card-content {
  --background: rgb(22, 163, 74);
}
.list-ios {
  --background: rgb(22, 101, 52) !important; /* Pas de achtergrondkleur aan */
}
.list-md {
  --background: rgb(22, 163, 74) !important;
}